@import "variables";
@import "mixins";

body {

}

/*=====================
HEADER
=====================*/
header.main-header {
    padding: 1rem @vw-spacing;

    h1.logo {
        img {
            width: 10rem;
            height: auto;
        }
    }

    nav.main-nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            .flex-display();
    	    .flex-flow(row nowrap);
    		.align-items(flex-end);

            li {
                a {
                    color: @color-nav-blue;
                    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                    font-size: 1.1rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 0.04em;
                    margin-left: 2rem;

                    &:hover {
                        color: @color-black;
                        border-bottom: @color-black 5px solid;
                    }
                }

                &.current-menu-item,  &.current-menu-parent{
                    a {
                        color: @color-green;
                        border-bottom: @color-green 5px solid;
                    }
                }

                &:last-of-type {
                    background: transparent url("../img/icon-donate.svg") no-repeat right center;
        			background-size: 0.8em;
                    padding-right: 2.5rem;

                }
            }

            li.menu-item-has-children {
                position: relative;
                overflow: hidden;

                ul.sub-menu {
                    visibility: hidden;
            	    .flex-flow(column wrap);
                    .align-items(flex-start);
                    max-height: 10rem;
                    min-width: 40rem;

                    position: absolute;
                    left: 2rem;
                    top: 3.5rem;
                    z-index: 9999;

                    background-color: @color-nav-blue-light;
                    border-bottom: @color-black 5px solid;

                    li {
                        padding: 0;
                        margin: 0;
                        background: none;

                        a {
                            color: @color-black;
                            font-weight: 400;
                            text-transform: none;
                            display: block;
                            // white-space: nowrap;
                            max-width: 9.2em;
                            border-bottom: 0;
                            margin-left: 0;
                            padding: 0.5rem 0 0.5rem 2rem;
                            line-height: 1.5em;

                            &:hover {
                                font-weight: 666;
                            }
                        }

                        &.current-menu-item {
                            > a {
                                color: @color-green;
                                font-weight: 500;
                            }
                        }
                    }
                }

                &:hover {
                    overflow: visible;
                    ul.sub-menu {
                        visibility: visible;
                    }
                    > a {
                        color: @color-black;
                        border-bottom: @color-black 5px solid;
                    }
                }

                //Reset items from About Us anchor links
                &#menu-item-359 ul.sub-menu li.current-menu-item a {
                    color: inherit;
                    font-weight: inherit;
                }

            }

        }
    }
}

/*=====================
HOME
=====================*/

body.home {

	main {
		header.cover {

			h2 {

			}

			a.sw-tab {
                background-image: url("../img/icon-sw.svg"), url("../img/sustainble-website-tab-top.svg");
                background-position: 4.5rem 1.3rem, center center;
                background-size: 3rem, contain;

                font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.2em;
                letter-spacing: 0.01em;

                width: 10rem;
				height: 10rem;

                top: -2.09rem;

                > span {
					bottom: 2.4rem;
					left: 2rem;

					span {
						font-size: 0.7rem;
					}
				}
            }
        }
    }
}

/*=====================
PAGE
=====================*/

.page {

	header.main-header {
		h1.logo {
			img {
				width: 5rem;
			}
		}
    }
}
