/* COLORS */
/* MIXINS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.button {
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom-width: 0.2em;
}
/*=====================
HEADER
=====================*/
header.main-header {
  padding: 1rem 3rem;
}
header.main-header h1.logo img {
  width: 10rem;
  height: auto;
}
header.main-header > a.donate {
  display: none;
}
header.main-header nav.main-nav {
  position: relative;
  right: auto;
  top: auto;
  width: auto;
  min-height: inherit;
  background: none;
  padding: 0;
}
header.main-header nav.main-nav > ul > li {
  padding-bottom: 0;
}
header.main-header nav.main-nav ul li {
  margin-bottom: 0;
}
header.main-header nav.main-nav ul li:first-child {
  margin-top: 0;
}
header.main-header nav.main-nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
header.main-header nav.main-nav ul li a {
  color: #6394AB;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.04em;
  margin-left: 2rem;
}
header.main-header nav.main-nav ul li a:hover {
  color: #222222;
  border-bottom: #222222 5px solid;
  text-decoration: none;
}
header.main-header nav.main-nav ul li.current-menu-item a,
header.main-header nav.main-nav ul li.current-menu-parent a {
  color: #1ED261;
  border-bottom: #1ED261 5px solid;
}
header.main-header nav.main-nav ul li.menu-item-356 {
  background: transparent url("../img/icon-donate.svg") no-repeat right center;
  background-size: 0.8em;
  padding-right: 2.5rem;
}
header.main-header nav.main-nav ul li.menu-item-356 > a {
  background: none;
  padding-right: 0;
}
header.main-header nav.main-nav ul li.menu-item-356:hover {
  background-image: url("../img/icon-donate-black.svg");
}
header.main-header nav.main-nav ul li.menu-item-356:hover a {
  color: #222222;
  border-bottom: #222222 5px solid;
}
header.main-header nav.main-nav ul li.menu-item-356.current_page_item {
  background-image: url("../img/icon-donate-green.svg");
}
header.main-header nav.main-nav ul li.menu-item-356.current_page_item:hover a {
  color: #1ED261;
  border-bottom: #1ED261 5px solid;
}
header.main-header nav.main-nav ul li.menu-item-has-children {
  position: relative;
  overflow: hidden;
}
header.main-header nav.main-nav ul li.menu-item-has-children ul.sub-menu {
  padding-left: 0;
  visibility: hidden;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  max-height: 13rem;
  min-width: 27rem;
  position: absolute;
  left: 2rem;
  top: 3.5rem;
  z-index: 999;
  background-color: #F0F5F7;
  border-bottom: #222222 5px solid;
}
header.main-header nav.main-nav ul li.menu-item-has-children ul.sub-menu li {
  padding: 0;
  margin: 0;
  background: none;
}
header.main-header nav.main-nav ul li.menu-item-has-children ul.sub-menu li a {
  color: #222222;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: none;
  display: block;
  max-width: 9.2em;
  border-bottom: 0;
  margin-left: 0;
  padding: 0.5rem 0 0.5rem 2rem;
  line-height: 1.5em;
}
header.main-header nav.main-nav ul li.menu-item-has-children ul.sub-menu li a:hover {
  font-weight: 666;
}
header.main-header nav.main-nav ul li.menu-item-has-children ul.sub-menu li.current-menu-item > a {
  color: #1ED261;
  font-weight: 500;
}
header.main-header nav.main-nav ul li.menu-item-has-children:hover {
  overflow: visible;
}
header.main-header nav.main-nav ul li.menu-item-has-children:hover ul.sub-menu {
  visibility: visible;
}
header.main-header nav.main-nav ul li.menu-item-has-children:hover > a {
  color: #222222;
  border-bottom: #222222 5px solid;
}
header.main-header nav.main-nav ul li.menu-item-has-children#menu-item-359 ul.sub-menu li.current-menu-item a {
  color: inherit;
  font-weight: inherit;
}
header.main-header nav.main-nav div.social-links,
header.main-header nav.main-nav div.buttons {
  display: none;
}
/*MAIN */
main header.cover {
  margin-bottom: 2rem;
}
/*=====================
HOME
=====================*/
body.home main header.cover h2 {
  font-size: 2.3rem;
  max-width: 780px;
}
body.home main header.cover a.sw-tab {
  background-image: url("../img/icon-sw.svg"), url("../img/sustainble-website-tab-top.svg");
  background-position: 4.5rem 1.3rem, center center;
  background-size: 3rem, contain;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  width: 10rem;
  height: 10rem;
  top: -2.09rem;
}
body.home main header.cover a.sw-tab > span {
  bottom: 2.4rem;
  left: 2rem;
}
body.home main header.cover a.sw-tab > span span {
  font-size: 0.7rem;
}
body.home main section > header h1 {
  font-size: 2.2rem;
  line-height: normal;
}
body.home main section > header h2 {
  font-size: 1.4rem;
  line-height: normal;
}
body.home main section.our-work {
  padding: 0;
}
body.home main section.our-work header {
  margin-left: 3rem;
  margin-bottom: 2rem;
}
body.home main section.our-work ul.index {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-left: 3rem;
}
body.home main section.our-work ul.index li {
  background: none;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-bottom: 1rem;
  border-right: #ddd 1px solid;
}
body.home main section.our-work ul.index li > a {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
  margin: 0;
  padding: 0 2rem;
}
body.home main section.our-work ul.index li > img {
  width: 6rem;
  height: 6rem;
  -webkit-flex: 0 0 6rem;
  -ms-flex: 0 0 6rem;
  flex: 0 0 6rem;
  margin-bottom: 1rem;
}
body.home main section.our-work ul.index li:last-of-type {
  border: 0;
}
body.home main section.our-work ul.index hr {
  display: none;
}
body.home main section.our-reach {
  margin: 0;
  margin-top: -6.9rem;
  padding-top: 6.9rem;
  position: relative;
}
body.home main section.our-reach header {
  margin-bottom: 0;
}
body.home main section.our-reach header h2 {
  width: auto;
}
body.home main .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-bottom: 2rem;
}
/*=====================
PAGE
=====================*/
.page header.main-header h1.logo img {
  width: 5rem;
}
