@import "variables";
@import "mixins";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.button {
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom-width: 0.2em;

    &.icon {
        padding-right: 3rem;
        background-size: 2.2rem;
        &.facebook {
    			padding-right: 2.2rem;
    		}
    }
}

.title-h1 {
    font-size: 2.1rem;
    line-height: normal;
}

.title-h2 {
    .title-h1;
	font-size: 1.3rem;
}

.wrapper {
    background-color: #fff;
    box-shadow: 6px 3px 4px rgba(0, 0, 0, .2);
}

/*=====================
HEADER
=====================*/
header.main-header {
    padding: 1rem @vw-spacing;

    h1.logo {
        img {
            width: 10rem;
            height: auto;

        }
    }

    > a.donate { display: none; }

    nav.main-nav {
        //Reset
        position: relative;
        right: auto; top: auto;
        width: auto;
        min-height: inherit;
        background: none;
        padding: 0;
        margin-right: 0.5em;

        > ul > li {
			padding-bottom: 0;
		}

		ul {
            li {
				margin-bottom: 0;
				&:first-child {
					margin-top: 0;
				}
            }
        }

        //
        ul {
            .flex-display();
    	    .flex-flow(row nowrap);
    		.align-items(flex-end);

            li {
                a {
                    color: @color-nav-blue;
                    font-size: 1.1rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 0.04em;
                    margin-left: 2rem;

                    &:hover {
                        color: @color-black;
                        border-bottom: @color-black 5px solid;
                        text-decoration: none;
                    }
                }

                &.current-menu-item,  &.current-menu-parent{
                    > a {
                        color: @color-green;
                        border-bottom: @color-green 5px solid;
                    }
                }

                &.menu-item-356 { //Donate button
                    background: transparent url("../img/icon-donate.svg") no-repeat right center;
        			background-size: 0.8em;
                    padding-right: 2.5rem;
                    > a {
                        background: none;
                        padding-right: 0;
                    }

                    &:hover {
                        background-image: url("../img/icon-donate-black.svg");

                        a {
                            color: @color-black;
                            border-bottom: @color-black 5px solid;
                        }
                    }

                    &.current_page_item {
                        background-image: url("../img/icon-donate-green.svg");
                        &:hover {
                            a {
                                color: @color-green;
                                border-bottom: @color-green 5px solid;
                            }
                        }
                    }

                }
            }

            li.menu-item-has-children {
                position: relative;
                overflow: hidden;

                ul.sub-menu {
                    visibility: hidden;
                    padding: 0.5rem 2rem;

                    // .flex-display();
            	    // .flex-flow(column wrap);
                    // .align-items(flex-start);

                    display: grid;
                    grid-auto-flow: column;
                    grid-template-rows: repeat(3, auto);
                    align-items: center;
                    grid-gap: 0.8rem;

                    //Sub-menu dimensions
                    // max-height: 13rem;
                    // min-width: 27rem;
                    // width: max-content; //Doesn't work on IE or Edge

                    position: absolute;
                    left: 2rem;
                    top: 3.5rem;
                    z-index: 999;

                    background-color: @color-nav-blue-light;
                    border-bottom: @color-black 5px solid;

                    li {
                        padding: 0;
                        background: none;
                        min-width: 11rem;

                        // .flex(0 0 );

                        a {
                            color: @color-black;
                            font-size: 1.1rem;
                            font-weight: 400;
                            text-transform: none;
                            display: block;
                            // white-space: nowrap;
                            // max-width: 9.2em;
                            border-bottom: 0;
                            margin-left: 0;
                            line-height: 1.5em;

                            &:hover {
                                // font-weight: 600;
                                text-shadow: -0.05ex 0 #000, 0.05ex 0 #000;
                            }
                        }

                        &.current-menu-item:not(.menu-item-type-custom) {
                            > a {
                                color: @color-green;
                                text-shadow: -0.05ex 0 @color-green, 0.05ex 0 @color-green;
                                &:hover {
                                    color: @color-black;
                                    text-shadow: -0.05ex 0 #000, 0.05ex 0 #000;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    overflow: visible;
                    ul.sub-menu {
                        visibility: visible;
                    }
                    > a {
                        color: @color-black;
                        border-bottom: @color-black 5px solid;
                    }
                }

                //Reset items from About Us anchor links
                &#menu-item-359 ul.sub-menu li.current-menu-item a {
                    color: inherit;
                    font-weight: inherit;
                }
            }
        }

        div.social-links,
        div.buttons {
            display: none;
        }
    }
}


/*MAIN */
main {
    header.cover {
		margin-bottom: 2rem;
    }
}

/*=====================
FOOTER
=====================*/

footer.main-footer {
    .flex-display();
	.flex-flow(row nowrap);
    .justify-content(center);
    .align-items(center);

    a.back-to-top,
    hr {
        display: none;
    }

    * {
        margin-right: 1em;
    }

    a.button.donate,
    a.button.sitemap {
        display: initial;
    }

    // p.license, address.author {
    //     line-height: 1.3em;
    //     margin: 4rem @vw-spacing;
    // }
    // p.license {
    //
    // }
    //
    // address.author {
    //     font-style: normal;
    // }

}

.social-links {

	a {
		width: 3.5rem;
		height: 2.5rem;
        margin: 0 1em;

		img {
			width: 2.3em;
		}
    }

}

/*=====================
HOME
=====================*/

body.home {

	main {
		header.cover {

			h2 {
                font-size: 2.3rem;
                max-width: 780px;
			}

			a.sw-tab {
                background-image: url("../img/icon-sw.svg"), url("../img/sustainble-website-tab-top.svg");
                background-position: 4.5rem 1.3rem, center center;
                background-size: 3rem, contain;

                font-weight: 500;
                font-size: 1rem;
                line-height: 1.2em;
                letter-spacing: 0.01em;

                width: 10rem;
				height: 10rem;

                top: -2.09rem;

                > span {
					bottom: 2.4rem;
					left: 2rem;

					span {
						font-size: 0.7rem;
					}
				}
            }
        }

        > .wrap {
            .flex-display();
            .flex-flow(row nowrap);
        }

        section {
            > h1,
            > header h1,
            > header h2 {
                .title-h1;
            }
            > h2,
            > header h2 {
                .title-h2;
            }

            &.our-work {
                padding: 0;
                min-width: 725px;

                header {
                    margin-left: @vw-spacing;
                    margin-bottom: 2rem;
                }

                ul.index {
                    .flex-display();
                    .flex-flow(row nowrap);
                    margin-left: @vw-spacing;

                    li {
                        background: none;
                        .flex(1);
                        .flex-flow(column nowrap);
                        .align-items(center);
                        padding-bottom: 1rem;
                        border-right: #ddd 1px solid;

                        > a {
            				font-size: 1.1rem;
                            text-align: center;
                            font-weight: 500;
                            margin: 0;
                            padding: 0 1rem;
                        }

                        > img {
                            .icon-size (6rem);
                            .flex( 0 0 6rem );
                            margin-bottom: 1rem;
                        }

                        &:last-of-type {
                            border: 0;
                        }
                    }

                    hr {
                        display: none;
                    }
                }
            }

            &.our-reach {
                margin: 0;
                margin-top: -12rem;
                padding-top: 12rem;
                padding-left: 2rem;
                width: 100%;

    	        header {
    				margin-bottom: 0;
                    h2 {
                        width: 50%;
                    }
                }

                figure {
    				right: auto; left: 4rem;

    				img {
    					height: 40rem;
    				}
    			}
            }

            &.events {
                padding-top: 2rem;
                margin-bottom: @vw-spacing;

                header h1 {
                    word-spacing: 30000px; //Force wrap
                }

                .wrap.grid {
                    display: grid;
                    grid-template-columns: 60% auto;
                    grid-template-rows: 1fr 1fr;
                    grid-gap: 2rem;
                }

                .event {
                    grid-column: 1;
                    grid-row: 1 /span 2;

                    h2 {
                        line-height: normal;
                        margin-bottom: 1em;
                    }

                    // &:first-of-type
                    &:not(.hide) {
                        padding-right: 2rem;
                        border-right: #ccc 1px solid;
                    }

                    &.hide {
                        display: block !important;
                        visibility: visible;
                        overflow: hidden;

                        grid-column: 2;
                        grid-row: auto / span 1;

                        h2 {
                            //Limit text to two lines
                            display: block;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            overflow: hidden;
                            max-height: 3em;
                            line-height: 1.5em;
                        }

                        .img {
                			width: 13rem;
                			height: calc(13rem * 0.5625);
                        }

                        .row .col:last-of-type,
                        footer {
                            display: none;
                        }
                    }

                    &:nth-of-type(n+2) { //All except the first
                    }

                    nav {

                    }
                }

                nav.prev-next {
                    // max-width: 60%;
                    grid-column: 1;
                    grid-row: 2;
                    align-self: end;

                    a {
                        padding: 0;
                        color: transparent;
                        width: 1em; height: 3rem;

                        &[rel="prev"] {
            				margin-right: 0.5em;
            			}
            			&[rel="next"] {
            				margin-left: 0.5em;
            			}
                    }
                }
            }

            &.co-create {
                .flex-display();
                .flex-flow(row wrap);
                padding: @vw-spacing;
                background-size: 35%;
                background-position: 70% center;

                h1 {
                    .title-h1;
                    width: 100%;
                    flex: 0 0 100%;
                    margin-bottom: 0.5em;
                }
                h2, p {
    	            .title-h2;
                    line-height: 1.5em;
                    padding-bottom: 0.5em;
    	        }
                p {
                    font-weight: 100;
                    letter-spacing: 0.03em;
                    line-height: 1.4em;
                }
                figure {
    	            margin: 0;

    				&.logo-ecoethic {
    					margin: 0.2em 0;

    					img {
    						width: 45%;
    					}
    				}
    				&.icon-donate {
                        margin: 0;
    					img {
    						width: 7rem;
    					}
    				}
    	        }

                span {
    				padding: 0 0.5em 0.3em 0.5em;
    				margin-bottom: 0;

                    a.button {
                        font-size: 0.7em;
                    }
    			}

                .col {
                    .flex(1);

                    &:first-of-type {
                        margin-right: 2rem;
                    }
                }
            }

            &.testimonials {
                display: grid;
                grid-template-columns: 60% auto;
                grid-template-rows: 1fr 1fr;
                grid-gap: 2rem;
                // align-items: center;
                // align-content: center;

    	        blockquote {
    	            font-size: 1.1rem;

                    grid-column: 1;
                    grid-row: 1 /span 2;

                    .content {
                        &:before {
                            top: -30px;
    	                    left: -50px;
    	                }
    	                &:after {
    	                    content: close-quote;
    	                    bottom: -50px;
    	                    right: 0;
    	                }
                    }

                    footer {
                        min-width: 30%;
                        padding-right: 2rem;
                        box-sizing: content-box;

    	                figure {
    	                    .icon-size (8rem);
                        }
                        div.col {
                            .flex-display();
                            .flex-flow(column nowrap);
                        }
                    }

                    &:not(.hide) {
                        padding-right: 2rem;
                        border-right: #fff 1px solid;
                    }

                    &.hide {
                        display: block !important;
                        visibility: visible;

                        grid-column: 2;
                        grid-row: auto / span 1;

                        .content {
                            display: none;
                        }
                        footer {
        	                .flex-flow(row nowrap);
                            .align-items(center);

                            figure.col {
                                .icon-size (6.5rem);
                                min-width: 6.5rem;
                                margin-right: 1em;
                            }
                            div.col {
                                cite {
                                    &.author {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                }

                nav.prev-next {
                    // max-width: 60%;
                    grid-column: 1;
                    grid-row: -1;
                    align-self: end;

                    a {
                        padding: 0;
                        color: transparent;
                        width: 1em; height: 3rem;

                        &[rel="prev"] {
            				margin-right: 0.5em;
            			}
            			&[rel="next"] {
            				margin-left: 0.5em;
            			}
                    }
                }
            }

        }

        aside.cta {
            padding: @vw-spacing;

            h1 {
               .title-h1;
            }
            h2 {
                .title-h2;
                line-height: 1.5em;
            }

            &.eco-website {
                height: auto;
                background-position: 48% 30%;
                background-size: 30%;

                .flex-display();
       	        .flex-flow(row nowrap);
                .align-items(flex-start);
                .justify-content(space-between);

                .col {
                    max-width: 33%;
                    margin-bottom: 3rem;
                }

                h2 {
    				width: auto;
                    line-height: 1.4em;
    			}

                ul.col {
                   display: block;
                   list-style-type: none;
                   margin: 0; padding: 0;

                   li {
                       .title-h2;
                       line-height: 1.4em;
                       padding: 0 0 1em 3em;
                       background: transparent url("../img/icon-list-center.svg") left center no-repeat;
                       background-size: 2.5rem;

                       &:first-of-type {
                           background-image: url("../img/icon-list-top.svg");
                       }

                       &:last-of-type {
                           padding-bottom: 0;
                           background-image: url("../img/icon-list-bottom.svg");
                       }
                   }
                }
            }
        }
    }
}

/*=====================
PAGE
=====================*/

.page {

	header.main-header {
		h1.logo {
			img {
				width: 5rem;
			}
		}
    }

    main {
        .clearfix;

        header.cover {
            width: 100vw;
            padding: 0;
            padding-top: 1rem;

            h1 {
                .title-h1;
                margin: 0 @vw-spacing -0.5rem;
            }
        }

        section.content {
            h2, h3, h4 {
                .title-h2;
                padding-bottom: 0.7em;
            }
            p, li {
                font-size: 1.2rem;
                line-height: 1.5em;
            }
            ul {
				li {
					margin-left: 1.5rem;
				}

				li::before  {
					left: -1.5rem;
				}
			}
        }

        nav.tabs {
			&.sub {
				margin-bottom: @vh-spacing;
			}
		}
    }
}

.wrap.align-left {
    width: 60%;
    margin-bottom: 2rem;
}

hr {
	border-width: 1px;
	margin: auto;
}

.two-column > div {
    .flex-display();
    .flex-flow(row wrap);

    .col {
        .flex(1 1 50%);

        &:first-of-type {
            padding-right: 1rem;
        }
        &:last-of-type {
            padding-left: 1rem;
        }

        figure {
            margin: 0;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/*=====================
PAGE ABOUT-US
=====================*/

.who-we-are > div {
    .flex-display();
    .flex-flow(row wrap);

    h2 {
        .flex(0 0 100%);
        .flex-order(0);
    }

    .col {
        .flex(1 1 50%);
        margin: 0;

        //Switch column order
        &:first-of-type {
            .flex-order(2);
        }
        &:last-of-type {
            .flex-order(1);
        }
    }

    figure {
        margin: 0;

        img {
            width: 22rem;
            height: auto;
        }
    }
}

.vision-mission > div {
    .flex-display();
    .flex-flow(row nowrap);
    margin: 2rem 0;

    .col {
        .flex(1 1 50%);
        //column widths
        &:first-of-type {
            .flex-basis(25%);
            padding-right: 2rem;
        }
    }
}

.h-icon {
	img {
		height: 5rem !important;
		width: 5rem !important;
	}
}

.inecc-box {
	margin: 2rem -@vw-spacing 3rem -@vw-spacing;
    padding-bottom: @vw-spacing;

    > div {
        .flex-display();
        .flex-flow(row wrap);

        h2 {
            .flex(0 0 100%);
            margin-bottom: 1em;
        }

        .col {
            .flex(1 1 50%);
            //column widths
            &:first-of-type {
                .flex-basis(25%);
                padding-right: 2rem;
            }
        }
    }
}

.team {
    margin: 2rem 0;
    > div {
        .flex-display();
        .flex-flow(row wrap);
    }

    h4 {
        .flex(0 0 100%);
    }

    .team-member { //columns
        .flex(0 0 50%);
        .align-items(flex-start);

        h5, h6 {
            font-size: 1.3rem;
            line-height: 1.5em;
        }
        p {
            font-size: 1.1rem !important;
        }
    }

    .has-text-align-right { //Button see-more container
        .flex(0 0 100%);
    }

	&.executive-committee {
		.team-member {

            figure {
                width: 7rem;
            }
			.wp-block-media-text__content {
                padding-left: 1.5rem;
			}
		}
	}
    &.general-body {
		.team-member {
            padding-right: 2rem;
        }
    }
}

.our-history {
    margin: 2rem 0;
    > div {
        .flex-display();
        .flex-flow(row wrap);
        h2 {
            .flex(0 0 100%);
            margin-bottom: 1em;
        }
        .col {
            .flex(1 1 50%);
            //column widths
            &:last-of-type {
                padding-left: 2rem;
            }
        }
    }
}

.history-block > div {
    .flex-display();
    .flex-flow(row wrap);
    .align-items(center);
    margin: 4rem 0;

    .col {
        .flex(1 1 60%);
    }

    figure.col {
        margin: 0;
        .flex(1 1 40%);
        padding-right: 2rem;

        // img {
        //     width: 20rem;
        //     height: auto;
        // }
    }
}

.our-history-phases {
    height: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    border-bottom: @color-nav-blue-light 1rem solid;

	.phase {
		padding: 1.5rem;

		.header {
			font-size: 2rem;
            padding: 0;
            margin: 0;
		}
    }
    .prev-next {
		a {
			height: 3rem;
			top: 2rem;

			&[rel="prev"] {
				left: -0.5rem;
			}
			&[rel="next"] {
				right: -0.5rem;
			}
		}
	}
}

.sustainability {
    &.two-column > div {
        .col {
            figure {
                img {
                    width: 25rem;
                    padding-left: 3rem;
                }
            }
        }
    }
}

/*=====================
PAGE OUR-WORK
=====================*/

body.page-template-page-our-work,
body.page-template-page-our-work-search {

	section.content {

		&.subpage {
			//Look like a tab
			border-top-width: 0.3rem;
			border-bottom-width: 0.3rem;

			header {
                margin-bottom: 3rem;
				h1, h2 {
					.title-h2;
                    padding-right: 60%;
				}

				img.icon {
					height: 2em;
					margin-right: 2rem;
				}
			}
		}
	}
}


/*TABS*/
nav.tabs {

	> a {
		font-size: 1.3rem;
        line-height: 1.2em;

		padding: 1rem;
		margin: 0 0.5rem 1rem 0.5rem;

		// .flex(0 0 ((100vw / 3) - (@vw-spacing * 2) - (0.5rem * 3) - 0.1rem) );
        .flex(1);

		span {
			border-bottom: @color-nav-blue 0.3rem solid;
			padding-bottom: 0.5em;
		}

		&.selected {
			color: white;
			padding-bottom: 2.5rem;
			margin-bottom: -0.3rem;
		}
	}

	&.sub {
		//When tabs are shown in the bottom
        > a {
			.flex(0 0 30%);

			img {
				width: 5.3rem;
                margin-right: 1em;
			}
        }
    }
}


/*=====================
TEMPLATE LIST EVENTS
=====================*/

section.events {
	.event {

		> h1,
		> h2 {
			font-size: 1.3rem;
            margin: 0;
		}

        .row {
			font-size: 1.1rem;
            > .col {
				.flex(0 1 auto);

                &:first-of-type {
                    min-width: 20rem;
                    margin-right: 2rem;
                }
			}
		}

        .img {
			width: 20rem;
			height: calc(20rem * 0.5625);

		}

    }
}


//
@media screen and (min-width: 1280px) {
    .wrapper {
        max-width: 1024px;
    }
}
