@import "variables";
@import "mixins";

/**/
body {
	background: #fff;
	color: @color-black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 2.7rem;
	line-height: 1.5em;

	&.green {
		h1, h2, h3, h4, h5 {
			color: @color-green;
		}

		.content.subpage {
			//Look like a tab
			background: fade(@color-green, 10%);
			border-color: @color-green;
		}

		nav.tabs {
			> a {
				&.selected {
					background-color: @color-green;
				}
			}
		}
	}



	&.yellow {
		h1, h2, h3, h4, h5 {
			color: @color-yellow;
		}

		.content.subpage {
			//Look like a tab
			background: fade(@color-yellow, 10%);
			border-color: @color-yellow;
		}

		nav.tabs {
			> a {
				&.selected {
					background-color: @color-yellow;
				}
			}
		}
	}


	&.blue {
		h1, h2, h3, h4, h5 {
			color: @color-blue;
		}

		.content.subpage {
			//Look like a tab
			background: fade(@color-blue, 10%);
			border-color: @color-blue;
		}

		nav.tabs {
			> a {
				&.selected {
					background-color: @color-blue;
				}
			}
		}

	}

}

a.button {
	text-decoration: none;
	text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 2.2rem;
	font-weight: 600;
	color: @color-blue;
	line-height: 1em;
    padding-bottom: 0.2em;
    border-bottom: @color-blue 0.4em solid;
    display: inline-block;

    span {
        display: block;
        letter-spacing: 0.05em;
    }

    // background: red;
}

.title-h1 {
	margin: 0;
	padding-bottom: 0;
	text-transform: uppercase;
	font-size: 4.5rem;
	font-weight: 600;
}

.title-h2 {
	.title-h1;
	font-size: 3.1rem;
}

/*=====================
HEADER
=====================*/

header.main-header {
	padding: 4rem 2rem;

    .flex-display();
    .flex-flow(row wrap);
    .justify-content(space-between);

    h1.logo {
		color: @color-green;
		padding: 0; margin: 0;

        span {
			display: none;
		}
		img {
			width: 30rem;
			height: auto;
		}
	}


	nav.main-nav {
		.flex-display();
	    .flex-flow(row wrap);

		a.menu {
			background: white url("../img/icon-menu.svg") no-repeat 0 0;
			background-size: 4rem;
			background-position: center;
			color: transparent;
			font-size: 0;
			.icon-size(4rem);
			padding: 1.6rem;
			overflow: hidden;
			.align-self(center);
			border-radius: 50%;

			position: fixed;
			top: 4.5rem;
			right: 2rem;
			z-index: 9999;

			&:hover {
				background-color: @color-green;
			}

			&:active, &.active {
				background-color: @color-green;
			}

			&.open {
				background-color: @color-green;
				background-image: url("../img/icon-cross.svg");
				position: absolute;
			}
		}
	}
}


/*MAIN */
main {

    header.cover {
		background-color: @color-green;
		padding: 4rem 2rem 0rem 2rem;

        .flex-display();
        .flex-flow(column wrap);

		h1 {
			.title-h1;
			color: white;
		}
        h2 {
			font-size: 3rem;
			font-weight: 600;
			line-height: 1.3em;
			color: white;

		}
		a.button {
			.align-self(flex-end);
            margin-bottom: 2rem;
		}
	}
}

/*TABS*/
nav.tabs {
	.flex-display();
    .flex-flow(row nowrap);
	.align-items(flex-start);

	> a {
		background: fade(@color-nav-blue, 20%);
		color: @color-nav-blue;
		font-size: 2rem;
		line-height: 1em;
		font-weight: bold;
		text-decoration: none;

		padding: 2rem 1rem 1rem 1rem;
		margin: 0 0.5rem;
		.flex-grow(1);

		span {
			display: block;
			border-bottom: @color-nav-blue 0.5rem solid;
			padding-bottom: 0.5em;
		}

		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}

		&.selected {
			color: white;
			padding: 3rem 1rem 2.3rem 1rem;

			span {
				border: none;
				padding: 0;
			}
		}
	}
}


/*=====================
FOOTER
=====================*/

footer.main-footer {
    padding: 4rem 2rem;
    text-align: center;
    font-size: 2.2rem;

    .social-media {
        .flex-display();
        .flex-flow(row nowrap);
        .justify-content(space-around);

        a {
            margin: 0.5rem;
            .icon {
                .icon-size(6rem);
                fill: @color-black;
            }
            &:hover {
                .icon {
                    fill: @color-green;
                }
            }
        }
    }

    a.button.donate,
    a.button.sitemap {
        margin: 4rem auto;
        display: table;
        white-space: nowrap;
    }

    p.license, address.author {
        line-height: 1.3em;
        margin: 4rem 2rem;
    }
    p.license {

    }

    address.author {
        font-style: normal;
    }

}

/*=====================
HOME
=====================*/

body.home {

	section {
		padding: 4rem 2rem;

	    header {
	        h1 {
	            .title-h1;
	        }
	        h2 {
	            margin: 0;
	            font-weight: normal;
	            font-size: 3rem;
	        }
	    }
	    > h1 {
	        .title-h1;
	    }

	    &.our-work {

	        header {
	            h1 {
	                color: @color-green;
	            }
	        }

	    }

	    &.our-reach {

	        background-color: rgba(39, 58, 67, 0.1);

	        header {
	            h1 {
	                color: @color-blue;
	            }
	        }

	    }

	    &.events {

	        > h1 {
	            color: @color-orange;
	        }

	        article.event {
	            margin: 1em 0;

	            > h1 {
	                margin: 0;
	                font-size: 3rem;
	            }
	            > p {
	                margin: 0;
	                padding-bottom: 1em;
	            }

	            .wrapper {
	                .flex-display();
	                .flex-flow(row nowrap);
	                .justify-content(space-between);
	            }

	            figure {
	                background-color: red;
	                margin: 0; padding: 0;

	                .flex-order(1);

	                img {
	                    vertical-align: middle;
	                    width: auto;
	                }
	            }

	            footer {
	                .flex-order(0);
	            }
	        }
	    }

	    &.co-create {
	        background-color: @color-blue;
	        color: white;

	        > h1,
	        > h2 {
	            color: @color-yellow;
	            margin: 0; padding: 0;
	        }

	        > h1 {
	            padding-bottom: 0.5em;
	        }

	        > h2 {
	            font-size: 3rem;
	        }

	        p {
	            margin: 0;
	        }

	        > figure {
	            margin-left: 0;
	        }
	    }

	    &.testimonials {
	        background-color: @color-green;

	        blockquote {
	            margin: 0; padding: 0;
	            font-size: 2.2rem;
	            line-height: 1.5em;
	            margin-bottom: -30px;

	            .flex-display();
	            .flex-flow(row nowrap);

	            p {
	                margin: 0; padding: 0;
	                margin-left: 1.5em;
	                .flex-order(1);
	                position: relative;

	                &:before, &:after  {
	                    font-weight: bold;
	                    font-size: 8em;
	                    color: @color-blue;
	                    position: absolute;
	                }
	                &:before {
	                    content: open-quote;
	                    top: -30px;
	                    left: -130px;

	                }
	                &:after {
	                    content: close-quote;
	                    bottom: -80px;
	                    right: 0;
	                }
	            }

	            footer {

	                .flex-display();
	                .flex-flow(column wrap);
	                .flex-order(0);

	                cite {
	                    font-style: normal;
	                    line-height: 1.2em;

	                    &.author {
	                        font-weight: bold;
	                        color: @color-blue;
	                        margin-bottom: 0.5em;
	                        .flex-order(1);
	                    }
	                    &.title {
	                        color: white;
	                        .flex-order(2);
	                    }
	                }

	                figure {
	                    margin: 0;
	                    .icon-size (30vw);
	                    border-radius: 50%;
	                    overflow: hidden;
	                    .flex-order(0);
	                    position: relative;
	                    margin-bottom: 0.7em;

	                    img {
	                        height: inherit;
	                        position: absolute;
	                        left: 50%;
	                        top: 50%;
	                        transform: translate(-50%, -50%);
	                    }

	                }
	            }

	        }
	    }
	}

	nav.index {
	    ul {
	        list-style-type: none;
	        margin: 0; padding: 0;

	        li {
	            .flex-display();
	            .flex-flow(row nowrap);
	            margin-top: 2em;
				background: transparent url("../img/icon-arrow.svg") no-repeat center right;
				background-size: 6rem;

	            > a {
					.title-h2;
					color: @color-black;
					text-transform: uppercase;
	                text-decoration: none;
	                margin-left: 1.3em;

	                .flex-order(1);
	                .align-self(center);

	            }

	            > img {
	                .icon-size (16rem);

	                .flex-order(0);
	                .flex( 0 0 16rem );

	                // background: red;
	            }
	        }
	    }
	}

	aside.cta {
	    padding: 4rem 2rem;

	    .flex-display();
	    .flex-flow(column wrap);

	    > h1 {
	        .title-h1;

	        span {
	            text-transform: none;
	            font-weight: lighter;
	            display: block;
	            color: @color-black;
	        }
	    }

	    a.button {
	        .align-self(flex-end);
	        // margin-bottom: 2rem;
	    }

	    &.eco-website {
	        > h1 {
	            color: @color-green;
	        }
	    }
	}
}

/*=====================
PAGE
=====================*/

body.page {

	header.main-header {
		h1.logo {
			img {
				width: 10rem;
			}
		}
	}

	section {
		padding: 0 2rem;
	}

	section.content {

		&.subpage {
			//Look like a tab
			border-top-style: solid;
			border-bottom-style: solid;
			border-top-width: 0.7rem;
			border-bottom-width: 0.7rem;
			padding: 1rem;
			margin: 0 2rem;

			header {
				.flex-display();
			    .flex-flow(row no-wrap);
				.align-items(center);
				margin: 2rem 0;

				h1, h2 {
					.title-h2;
					.flex-order(1);
				}

				img.icon {
					width: auto;
					height: 5em;
					.flex-order(0);
					margin-right: 4rem;
				}
			}

			> h2 {
				.title-h2;
				margin-top: 4rem;
			}
		}
	}

	nav.tabs {
		margin: 0 2rem;
	}

	aside.content.parent {
		//Look like main content
		padding: 0 2rem;

		h3 {
			.title-h1;
			color: white;
			background-color: @color-green;
			padding: 4rem 2rem 0rem 2rem;
			margin: 0 -2rem 0 -2rem;
		}
	}

}


/*=====================
SUBPAGE
=====================*/

body.page-child {

	//Change order of sections for SEO
	.flex-display();
	.flex-flow(column wrap);

	main {
		.flex-order(1);
	}
	aside.content {
		.flex-order(0);
	}
}


/*=====================
MENU
=====================*/

body.page-menu {
	background-color: @color-green;

	nav.menu {
		padding: 0 2rem;

		ul {
			list-style-type: none;
			padding-left: 0;

			li {
				margin-bottom: 0.2em;
				&:first-child {
					margin-top: 1rem;
				}

				a {
					text-decoration: none;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 3rem;
					color: white;

					&:hover {
						text-decoration: underline;
					}
				}

				ul {
					padding-left: 1em;

					li {
						border: 0;

						a {
							text-transform: none;
						}
					}
				}

				&.menu-item-home,
				&.menu-item-has-children {
					padding-bottom: 0.5em;

					> a {
						font-size: 3.5rem;
					}
				}

			}
		}
	}
}



/**/
/*@media screen and (min-width: 960px) {
  body {
    background-color: lightblue;
  }
}*/
